@model ProductVM
@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.CardTitle = "Edit Product";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="row">
    <div class="col-md-4"> 

   
<form method="post" enctype="multipart/form-data">
    <input type="hidden"  asp-for="Product.Id" />
    <div class="form-group">
        <label asp-for="Product.Name" class="control-label"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Description" class="control-label"></label>
        <input asp-for="Product.Description" class="form-control" />
        <span asp-validation-for="Product.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price" class="control-label"></label>
        <input asp-for="Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Img" class="control-label"></label>
        <input type="file" name="file" id="imgfile" class="form-control" />

    </div>
    <div class="form-group">
        <label asp-for="Product.CategoryId" class="control-label"></label>
        <select asp-for="Product.CategoryId" class="form-control" asp-items="Model.CategoryList">
            <option disabled selected>--Select Category__</option>
        </select>
        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-success">Edit Category</button>
    <a asp-action="Index" asp-controller="Category" class="btn btn-warning">Back to Home</a>
</form>
    </div>
    <div class="col-md-4">
        <div class="container">
            <img id="ImagePreview" src="~/@Model.Product.Img" width="400" height="400"/>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
