@model IEnumerable<UserVM>



@{
	ViewBag.PageTitle = "Orders Management";
	ViewBag.CardTitle = "View Orders";
	Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<br>
<table id="orders" class="table table-hover" width="100%">
	<thead>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Phone Number</td>
			<td>Email</td>
			<td>Order Status</td>
			<td>Total</td>
			<td>Details</td>
		</tr>

	</thead>

</table>

@section Scripts {
	<script src="~/js/order.js"></script>
}